
header{
    position: relative;
}


.ul-inicial{

    text-transform: none;
    padding: .2em;
    margin: .4em auto ;
     perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0; 
    right:0;
    width: 100%;
    height: 100%;   
}

.ul-inicial li{

    font-size: 130%;
}

.eficiencia{
    position: absolute;
    top:50%;
    left: 60%;
    font-family: "Shadows into Light";
    color:#D5447E;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
    

}

.boas-praticas{
position: absolute;
    top: 70%;
    left: 20%;
    font-family: "Shadows into Light";
    color:#D5447E;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
    

}

.codigo-limpo{
    position: absolute;
    font-family: "Shadows into Light";
    color:#D5447E;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);

}

.css3{
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    

}

.html5{
  position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    
   
}

.javascript{
    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    
    

}

.acessibilidade{
position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    
    

}

.responsivo{
position: absolute;
       top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
   
    

}

.otimizacoes{
 position: absolute;
     top: 70%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    


}

.agilidade{
position: absolute;
     top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    
    

}

.design{
position: absolute;
       top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    
    
}

.titulo-principal{
    font-size: 300%;
    border-bottom: .2em black solid;
    padding: .8em;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    text-transform: uppercase;
}

.subtitulo-principal{
    font-family: "Open Sans Condensed" ,"Arial", sans-serif;
    text-align: center;
    font-size: .3em;
}


.foto-home {
    height: 4em;
    border-radius: 50%;
    
}

.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 4em;
    height: 12em;
    text-align: justify;
    margin-left: 8em; 

}

.saudacao-inicio {
    color: #889;
    font-size: 5em;
}
.saudacao-ultima-linha {
    text-align:center;
    display: block;
    margin-right: 1em;
}
.saudacao strong {
    font-size: 3em;
    color: #000;
}
.saudacao em {
    font-size: 5em;
    color: #851944;
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 20em;
    display:block;
    text-align: center;
    margin: 4em auto;
    padding: .6em;  
}

.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    height: 28em;
    padding: 3em;
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;

}
.trabalhos h2 {
    font-size: 250%;
    color: #FFF;
    margin-bottom: .6em;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    height: 20em;
    line-height: 2em;
    padding: 3em;
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}

.blog h2{
font-size: 250%;
}

.blog li a {
    color: #FCF;
    width: 30%;
}

.blog li{

    width: 30%;
}

.mais-recente{
background-color: #F2FFFC; 
}

 .blog .mais-recente a{

    color: #F26;
}

.inicio-post{
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}



.rodape-final{
    clear: both;
    position: relative;
    bottom: 0;
}

footer {
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.banner-twitter{
    width: 15em;
    line-height: 1em;
    padding: .8em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .15em solid black;

    font-size: .5em;
    font-family: "Open Sans Condensed", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg); 
    text-transform: none;
}

html {
    overflow-x: hidden;
}
