html, body {
    overflow-x: hidden;
    height: 100%;
}

body{
    perspective: 6px;
    perspective-origin: 50% 160px;
    display: block;
}

header{
    position: relative;
}


.ul-inicial, .titulo-principal{
    transform-style: preserve-3d;

}

.ul-inicial{
    
    text-transform: none;
    padding: .8em;
    margin: .2em auto ;
     perspective:120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0; 
    right:0;
     
}

.ul-inicial li{

    font-size: 120%;
}

.palavra-home{
    animation: aparece 2s; 

}

@keyframes aparece{
    from{
        opacity: 0;
        transform:scale(0.001);
    }
}

.eficiencia{
    position: absolute;
    top:40%;
    left: 60%;
    font-family: "Shadows into Light";
    color:#D5447E;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
    opacity: .3;

}

.boas-praticas{
position: absolute;
    top: 70%;
    left: 20%;
    font-family: "Shadows into Light";
    color:#D5447E;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
    opacity: .3;

}

.codigo-limpo{
    position: absolute;
    font-family: "Shadows into Light";
    color:#D5447E;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
    opacity: .6;
}

.css3{
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    opacity: .6;

}

.html5{
  position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
     opacity: .6;
   
}

.javascript{
    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    opacity: .3;
    

}

.acessibilidade{
position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    opacity: .8;
    

}

.responsivo{
position: absolute;
       top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
   opacity: .8;
    

}

.otimizacoes{
 position: absolute;
     top: 70%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
     opacity: .6;


}

.agilidade{
position: absolute;
     top: 75%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    opacity: .3;
    

}

.design{
position: absolute;
       top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    font-family: "Shadows into Light";
    color:#D5447E;
    opacity: .6;
    
}


.titulo-principal{

    font-size: 300%;
    border-bottom: .2em black solid;
    padding: .2em;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    text-transform: uppercase;
}

.subtitulo-principal{
    font-family: "Open Sans Condensed" ,"Arial", sans-serif;
    text-align: center;
    font-size: .3em;
}


.foto-home {
    height: 4em;
    border-radius: 50%;
    
}

.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 4em;
    height: 12em;
    text-align: justify;
    margin-left: 8em; 

}

.saudacao-inicio {
    color: #889;
    font-size: 5em;
}
.saudacao-ultima-linha {
    text-align:center;
    display: block;
    margin-right: 1em;
}
.saudacao strong {
    font-size: 3em;
    color: #000;
}
.sites-maravilhosos {
    font-size: 5em;
    color: #851944;
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}


.sites-maravilhosos{
    animation: quica 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;

    

}

@keyframes quica{
    0%{
        top: -5px;
    }

    100%{
        top: 5px;
    }
}

.sites-maravilhosos:hover,
.sites-maravilhosos:focus{
    animation-play-state:paused;
}


.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 20em;
    display:block;
    text-align: center;
    margin: 4em auto;
    padding: .6em;
    text-decoration: none;

}

.botao-index:hover,
.botao-index:focus{
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
    transition: .5s;
}

.secao-inicio h2 {
    text-transform: uppercase;
    text-shadow: 4px 2px #000;
}
.trabalhos {
    background-image: linear-gradient(135deg,
    transparent,
    transparent 14px,
    rgba(0, 0, 0, 0.1) 14px,
    rgba(0, 0, 0, 0.1) 15px,
    transparent 15px,
    transparent);

    background-size: 20px 20px;
    background-attachment: fixed;
    background-color: #851944;
    height: 28em;
    padding: 3em;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;

}
.trabalhos h2 {
    font-size: 250%;
    color: #FFF;
    margin-bottom: .6em;
}
.trabalhos ul {
    display: flex;
    border: 10px solid black;
}
.trabalhos li {
    flex: 1;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-image:linear-gradient(45deg,
    transparent,
    transparent 14px,
    rgba(255, 255, 255, 0.1) 14px,
    rgba(255, 255, 255, 0.1) 15px,
    transparent 15px,
    transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    height: 20em;
    line-height: 2em;
    padding: 3em;
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}

.blog h2{
font-size: 250%;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

.blog li{
   width:30%
}



.blog ol a:hover{
    color:red;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.blog .inicio-post{
    position: absolute;
    top: 4em;
    height: 8em;
     left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
    display: none;
}



.rodape-final{
    clear: both;
    position: relative;
    bottom: 0;

}

.rodape-final a:hover,
.rodape-final a:focus{
color: red;
}

footer {
    
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;

}

.banner-twitter{
    width: 14em;
    line-height: 1em;
    padding: .8em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .15em solid black;

    font-size: .5em;
    font-family: "Open Sans Condensed", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    text-transform: none;
}

.banner-twitter{
    animation: aparece 0.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

