html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}

.background h1{
	padding: 2em;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Sofia', cursive;

}

.background{
	width: 100%;
	height:100%;
	background-image: url(../img/imgforwebsite.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

aside{
	width: 50em;
	height:5em;
	background-color: none;
	position: relative;
	bottom:  10%;
	left: 23%;
	border-left: 3px black;
	

}

aside a {
	position: relative;
	top: 35%;
	left: 24%;
	padding: 1em;
	color: black;
	font-size: 1.5em;
	font-family: 'Gugi', cursive;
}