#footer{
	position: initial;
	width: 100%;
}
#footer p{
	position: relative;
	right: 50;
}

nav{
	position: relative;
	top: 49px;
}




.background{

	background-image: url(../img/fotoweb.png);

	filter: none;
	background-repeat: repeat;
	background-size: cover;
	overflow-y: auto;
	overflow-x: hidden;
	position: static;
	


	}



