

.conteudo p{
	
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
	font-size: 2.8em;
	animation: aparece;
	animation-fill-mode: backwards;
	

	

}

.conteudo p {

animation: aparece 4s;
	}

	@keyframes aparece{
		from{
			opacity:0;
	}

	to{

		opacity: 1;

	}
}


.background h1{
	visibility: hidden;
}


