<div class="container">
        
    <div class="produto">
            <a href="" class="icone"></a>
            <div id="produto-background"></div>
            <p class="nome-produto">PRODUTO NOVO 1</p>
            <p class="price">R$13.00</p>
        </div>

            <div class="produto">
                <a href="" class="icone"></a>
                <div id="produto-background"></div>
                <p class="nome-produto">PRODUTO NOVO 2</p>
                    <p class="price">R$5.00</p>
            </div>

        <div class="produto">
            <a href="" class="icone"></a>
            <div id="produto-background"></div>
            <p class="nome-produto">PRODUTO NOVO 3</p>
                <p class="price">R$26.00</p>
        </div>

        


    </div>