




    <div class="conteudo">

<div class="adiciona">
        <span  class="adicionaProduto">Adicionar novo produto</span>
    </div>
   

    

<h1 class="titulo-home">Confira nossos novos produtos!</h1>
    <div class="container">

        <% products.forEach(function(product) { %>
    
        
        <div class="produto">
   <div class="produto-background"><img src="<%=product.img%>"></div>
   <p class="nome-produto"><%= product.name %></p>
    <p class="price"><%= "R$" + product.price %></p>
   <a href="" class="icone"></a>




    </div>                    

   

<% }) %>

<%#
    <div class="produto">
   <div class="produto-background"><img src="/img/moletom.jpg"></div>
   <p class="nome-produto">NOME</p>
    <p class="price">R$20</p>
   <a href="" class="icone"></a>
    </div>
    %>


    
    

    <div id="formModal">
    <form class="formularioProduto" method="POST" action="/" enctype="multipart/form-data">
        <span class="close">&times;</span>

           <div class="form-group">
                        <label for="titulo">Titulo:</label>
                        <input type="text" id="titulo" name="name" value="" placeholder="coloque o titulo" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="preco">Preço:</label>
                        <input type="text" id="preco" name="price" placeholder="150.25" value="" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea cols="20" rows="5"  id="descricao" name="descricao" placeholder="descrição" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagem">Imagem:</label>
                        <input type="file" id="imagem" name="img" value="" placeholder="img" class="form-control"/>
                    </div>
                             <input type="submit" value="Salvar" class="btn btn-primary"/>
                    </div>
    </form>
    </div>

   


        </div>
    </div>
    





</body>
</html>
