@mixin borda-arredondada($raio: 10px){
  
  border-radius: $raio;
}



%image-replacement{
	text-indent: -9999px;
  	overflow: hidden;
  	background-repeat: no-repeat;
  	
}

%sombra-padrao{
	box-shadow: 0 2px 6.65px 0,35px rgba (0, 0, 0, 0.3);
}



/////////////////////////////////


@import  "compass/css3";

@import "compass/utilities";