<head>
<link href="/css/css.css" rel="stylesheet" type='text/css'>
</head>

<body class="conteudo">

<h1>Hi <%=name%></h1>

<form action="/logout?_method=DELETE" method='POST'>
<button type="submit">Logout</button>
</form>


</body>